.dt-control__input-group {
  font-family: Roboto, serif; }

.dt-control {
  position: relative; }

.cf:before, .dt-control__container:before,
.cf:after,
.dt-control__container:after {
  content: " ";
  display: table; }

.cf:after, .dt-control__container:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf, .dt-control__container {
  *zoom: 1; }

@font-face {
  font-family: "dt";
  src: url("fonts/dt.eot");
  src: url("fonts/dt.eot?#iefix") format("embedded-opentype"), url("fonts/dt.woff") format("woff"), url("fonts/dt.ttf") format("truetype"), url("fonts/dt.svg#dt") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "dt" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "dt" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon {
  font-size: 9px; }
  .icon-dropdown {
    color: #989ba4; }

.icon-clear:before {
  content: "\61"; }

.icon-dropdown:before {
  content: "\62"; }

.icon-next:before {
  content: "\63"; }

.icon-previous:before {
  content: "\64"; }

.dt-control__input-group {
  display: flex;
  border: 1px solid #d5d7da;
  position: relative;
  width: 320px;
  border-radius: 2px;
  justify-content: space-between; }

.dt-control__input {
  padding: 10px;
  cursor: pointer; }

.dt-control__input-calendar {
  flex-basis: 170px;
  flex-grow: 1; }

.dt-control__timepicker-container {
  float: right; }

.dt-control__input-timepicker {
  box-sizing: border-box;
  border-left: 1px solid #d5d7da;
  padding: 10px  7px;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 54px;
  position: relative; }

.dt-control__meridiem {
  cursor: default; }

.picker-container {
  display: flex; }

.controls-up.dt-control__container {
  top: -241px; }
.controls-up .dt-control__time-list {
  top: -231px; }

.dt-control__container {
  position: absolute;
  width: 100%;
  top: 42px;
  left: 0;
  background-color: white;
  border: 1px solid #d9dadd;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 19px 0 25px 0;
  z-index: 9;
  cursor: default; }
  .controls-up .dt-control__container {
    background: red; }

.dt-control__calendar {
  width: 210px;
  margin: auto; }

.dt-control__next-month {
  float: right; }
.dt-control__prev-month {
  float: left; }
.dt-control__prev-month, .dt-control__next-month {
  color: #467ab2;
  cursor: pointer; }

.dt-control__calendar-header {
  margin-bottom: 20px;
  text-align: center;
  color: #2f79b9;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px; }

.dt-control__date,
.dt-control__weekday {
  display: inline-block;
  text-align: center; }

.dt-control__weekday {
  width: 26px; }

.dt-control__weekend {
  color: #d0021b; }

.dt-control__date {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid transparent; }
  .dt-control__date:not(.disabled):hover {
    border: 1px solid #2f79b9; }

.dt-control__date.current {
  border: 1px solid #2f79b9;
  background-color: rgba(47, 120, 185, 0.15); }

.dt-control__date.selected {
  color: #fff;
  background-color: cornflowerblue; }

.dt-control__date.disabled {
  border: 1px solid transparent;
  border-radius: 50%;
  color: gray;
  background-color: transparent;
  cursor: default; }

.dt-control__weekday {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase; }

.dt-control__timepicker-input {
  position: relative; }
.dt-control__time-list {
  position: absolute;
  height: 225px;
  overflow-x: hidden;
  top: 42px;
  background-color: white;
  border: 1px solid #d9dadd;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  left: -1px;
  z-index: 1; }
  .dt-control__time-list::-webkit-scrollbar {
    width: 3px;
    background: white; }
  .dt-control__time-list::-webkit-scrollbar-thumb {
    background-color: darkgrey; }
.dt-control__time {
  line-height: 30px;
  width: 70px;
  cursor: pointer; }
  .dt-control__time-minutes {
    width: 50px; }
  .dt-control__time:hover {
    background-color: rgba(47, 120, 185, 0.15); }
  .dt-control__time.disabled {
    color: #d9dadd;
    cursor: not-allowed; }
    .dt-control__time.disabled:hover {
      background: transparent; }

/*# sourceMappingURL=app.css.map */
