body {
  padding: 20px;

  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.dt-picker {
  position: relative;

  max-width: 320px;
  font-size: 12px;
}

.dt-picker__input {
  margin-bottom: 20px;
}

.dt-picker__container {

}

.dt-picker__time {

}

.dt-picker__calendar {

}

.dt-picker__calendar-header {
  margin-bottom: 10px;
}

.dt-picker__day,
.dt-picker__week-day {
  width: 2.5em;
  height: 2.2em;
  display: inline-block;

  text-align: center;
  vertical-align: middle;
  font-size: 10px;

  text-transform: uppercase;
}

.dt-picker__week-day {
  font-weight: bold;
}
