@import "ember-datetime-controls";

body {
  padding: 20px;
  width: 1200px;
  margin: 0 auto;

  font-size: 14px;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.box {
  margin-bottom: 30px;
}
