{{#each hours as |hour|}}
    <div class="dt-time-picker {{if hour.disabled 'dt-time-picker--disabled'}}" {{action 'select' hour bubbles=false}}>
      {{format-hour hour locale=locale}}
    </div>
{{/each}}