<div style="width:320px; float:left;">
    <h2>Europe/Moscow</h2>
  {{date-picker
  date=model.date
  format="lll"
  locale="ru"
  timeZone="Europe/Moscow"}}
</div>

<div style="width:320px; float:left;">
    <h2>America/Chicago</h2>
  {{date-picker
  date=model.date
  format="lll"
  locale="en"
  timeZone="America/Chicago"}}
</div>

