<h2>Перечисления</h2>
{{#each model.datesList as |date|}}
  {{date-picker
    date=date
    maxTime='22:40'
    format="LL"
    timeZone="Europe/Moscow"
    timeEnabled=true
    dateEnabled=false}}
  <span {{action "delete" date}}>x</span>
{{/each}}


