<div style="width:320px; float:left;">
    <h2>Europe/Moscow</h2>
  {{date-picker
  date=model.moscowDate
  disabledDates=model.disabledDates
  minDate=model.minDate
  maxDate=model.maxDate
  minTime='04:30'
  maxTime='22:40'
  format="LL"
  locale="ru"
  timeZone="Europe/Moscow"}}
</div>

<div style="width:320px; float:left;">
    <h2>America/New_York</h2>
  {{date-picker
  date=model.newYorkDate
  disabledDates=model.disabledDates
  format="LL"
  locale="en"
  timeZone="America/New_York"}}
</div>

