<h2>Case 1. Текущее время</h2>
<ul>
    <li>minTime = 04:30</li>
    <li>maxTime = 22:40</li>
    <li>minDate = -2 дня от текущего</li>
    <li>maxDate = +2 дня от текущего</li>
</ul>
<div style="width:320px; float:left;">
    <h2>Europe/Moscow</h2>
  {{date-picker
  date=model.moscowDate
  minDate=model.minDate
  maxDate=model.maxDate
  minTime='04:30'
  maxTime='22:40'
  format="LL"
  locale="ru"
  timeZone="Europe/Moscow"}}
</div>

<div style="clear: both"></div>
<br><br><br><br>


<h2>Case 2. Время в Нью-Йорке</h2>
<ul>
    <li>disabledDates = today</li>
</ul>
<div style="width:320px; float:left;">
    <h2>America/New_York</h2>
  {{date-picker
    date=model.newYorkDate
    disabledDates=model.disabledDates
    format="LL"
    locale="en"
    timeZone="America/New_York"}}
</div>


<div style="clear: both"></div>
<br><br><br><br>


<h2>Case 3. Datepicker. Ограничения для 2-го календаря</h2>
<ul>
    <li>minTime=10:30</li>
    <li>maxTime=19:55</li>
    <li>при выборе дате в первом календаре, автоматически проставляется огранчение на втором календарь</li>
    <li>т.е. если выбрать дату на первом календаре 21.09.2016, то minDate на втором календаре будет равно 21.09.2016</li>
    <li>а также, если выбрать время 15:30 на первом календаре, то minTime на втором календаре будет 15:30</li>
</ul>

<div style="width:320px; float:left;">
    <h2>America/Chicago</h2>
  {{date-picker
    date=model.todayDate
    format="LL"
    locale="en"
    timeZone="America/Chicago"}}
</div>

<div style="width:320px; float:left;">
    <h2>America/Chicago</h2>
  {{date-picker
    format="LL"
    locale="en"
    minTime='10:30'
    maxTime='19:55'
    minDate=model.todayDate
    timeZone="America/Chicago"}}
</div>

<div style="width: 300px;">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores beatae commodi dolor ea
        eaque harum hic ipsa laudantium non nostrum odio officia pariatur quia quod, tempore ullam vitae.
    </div>
    <div>Accusamus alias asperiores culpa dolor dolorem doloribus eveniet ex exercitationem fuga illo, laboriosam
        laborum laudantium libero minus modi nihil nisi optio, praesentium quam qui repellendus repudiandae sapiente
        ullam, unde vitae!
    </div>
    <div>At cum mollitia nihil nulla? Ad debitis ducimus, ea molestias mollitia nobis nostrum, officia possimus qui quia
        sint suscipit? Dicta ea labore nemo. Ducimus ea iure libero magni maxime nulla.
    </div>
    <div>Culpa est expedita nam. Aliquid atque, consequatur consequuntur debitis deleniti ea eum excepturi illo illum
        ipsam minima nisi odit perspiciatis porro quibusdam quis reiciendis repellendus sapiente temporibus tenetur
        totam veritatis.
    </div>
    <div>Autem beatae blanditiis dolor ex perspiciatis quae quaerat veritatis, voluptatibus? Cumque doloremque
        exercitationem omnis quo sed sequi temporibus totam! Cum cumque deserunt dolorum eum expedita, in reiciendis
        repellat reprehenderit sequi.
    </div>
    <div>Ab alias asperiores autem beatae, commodi cumque enim eum facilis fugit hic ipsam iste laboriosam maiores modi
        necessitatibus nisi odit optio perspiciatis placeat reprehenderit sequi ullam ut velit voluptates voluptatum!
    </div>
    <div>Alias aperiam beatae commodi consequuntur dignissimos et, hic id illum ipsam iure laboriosam laudantium
        necessitatibus nulla perspiciatis placeat quam quasi quidem quos repellat repellendus saepe sequi tempore
        temporibus velit voluptatem.
    </div>
    <div>A accusantium aliquid aspernatur assumenda at blanditiis consequatur, culpa dolorum ea eligendi exercitationem
        laboriosam magnam nam nemo neque nostrum placeat possimus quae quaerat quam quia, quisquam quo repudiandae
        sequi, tenetur.
    </div>
    <div>Fugiat, maxime, pariatur? Consequatur deserunt dolorem exercitationem labore molestias, nihil provident quod
        rem reprehenderit sit, ullam veniam voluptate! Ad excepturi impedit iure libero molestias odio perspiciatis
        porro praesentium recusandae temporibus?
    </div>
    <div>Aut consequuntur deleniti dolorem eius, explicabo facere fuga in magni, natus nemo nihil nisi non possimus quia
        quibusdam rem repellendus repudiandae sequi tenetur, voluptatem. A eveniet ipsum itaque porro ratione!
    </div>
</div>

