{{private/input-control
date=date
timeZone=timeZone
format=format
locale=locale
}}

<div class="dt-control__container">
  {{#if dateEnabled}}
    {{private/calendar-control
    date=date
    minDate=minDate
    maxDate=maxDate
    timeZone=timeZone
    locale=locale
    onDateUpdated=(action 'updateDate')}}
  {{/if}}
  {{#if timeEnabled}}
    {{private/time-control
    date=date
    timeZone=timeZone
    locale=locale}}
  {{/if}}
</div>