<div class="dt-control__input" {{action showCalendar bubbles=false}}>
  {{formattedDate}}
  {{yield}}
</div>
{{#if timeEnabled}}
  {{private/time-control
    date=date
    timeZone=timeZone
    locale=locale
    isAmPm=isAmPm
    minTime=minTime
    maxTime=maxTime
    minDate=minDate
    maxDate=maxDate
    hideCalendar=hideCalendar
  }}
{{/if}}
