
.dt-control__container {
  @extend .cf;
  position: absolute;
  width: 100%;
  top: 42px;
  left: 0;
  background-color: white;
  border: 1px solid #d9dadd;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 19px 0 25px 0;
}

.dt-control__calendar {
  width: 210px;
  margin: auto;
}

.dt-control {
  &__next-month {
    float: right;
  }

  &__prev-month {
    float: left;
  }

  &__prev-month, &__next-month {
    color: #467ab2;
  }
}

.dt-control__calendar-header {
  margin-bottom: 20px;
  text-align: center;
  color: #2f79b9;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.dt-control__date,
.dt-control__weekday {
  display: inline-block;
  text-align: center;
}

.dt-control__weekday {
  width: 26px;
}

.dt-control__weekend {
  color: #d0021b;
}

.dt-control__date {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid transparent;
}

.dt-control__date.current {
  border: 1px solid #2f79b9;
  background-color: rgba(47, 120, 185, 0.15);
}

.dt-control__date.selected {
  color: #fff;
  background-color: cornflowerblue;
}

.dt-control__date.disabled {
  border: 1px solid transparent;
  border-radius: 50%;

  color: gray;
  background-color: transparent;

  cursor: default;
}

.dt-control__weekday {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
