
.dt-control {

  &__timepicker {
    position: relative;
  }

  &__time-list{
    position: absolute;
    height: 225px;
    overflow-x: hidden;
    top: 42px;
    background-color: white;
    border: 1px solid #d9dadd;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    left: -1px;
    z-index: 1;

    &::-webkit-scrollbar {
      width: 3px;
      background: white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
    }

  }

  &__time {
    line-height: 30px;
    width: 70px;
    cursor: pointer;
    &:hover {
      background-color: rgba(47, 120, 185, 0.15);
    }
    &.disabled {
      color: #d9dadd;
      cursor: not-allowed;
    }
  }
}


