
.dt-control__input-group {
  display: flex;
  border: 1px solid #d5d7da;
  position: relative;
  width: 320px;
  border-radius: 2px;
  justify-content: space-between;
}

.dt-control__input {
  padding: 10px;
  cursor: pointer;
}


