
.dt-control__input-group {
  display: flex;
  border-left: 1px solid #d5d7da;
  border-right: none;
  position: relative;
  max-width: 302px;
  border-radius: 2px;
  justify-content: flex-start;
}

.dt-control__input {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #d5d7da;
  border-left: none;
  &:last-child {
    border-right: 1px solid #d5d7da;
  }
}


